sudo: false
language: node_js
script: npm run test
node_js:
  - 6
cache:
  directories:
    - node_modules
branches:
  only:
    - master
after_success:
  - cat ./coverage/lcov.info | ./node_modules/codecov/bin/codecov
